body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: -4px; /* Removes gap between inline elements */
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

table {
    border-collapse: collapse;
    width: 60%; /* Adjusted width */
    margin: 20px auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}


th, td {
    border: 1px solid #ddd;
    padding: 8px; /* Reduced padding */
    text-align: left;
    font-size: 0.8em;
}


th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

form {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}



